/*when adding colors make sure it is blue, yellow or green only https://www.kaplanco.com/ii/using-color-to-enhance-learning*/


#background{
    
	width: 100%;
	height: 100%;
}

#menu{
	position: fixed;
	top: 0.5em; /**Position of the nav in the y-axis**/
	right: 7%; /**Position of the nav**/
	text-decoration: none;
}

#menu ul{

	display: inline-block;
}
#menu li{
display: block;
float: left;
text-align: center;
font-size: 150%;
}

#menu li:before{
	padding: 3em 1.5em; /**Spaces in between of nav/menu**/
	content: "//";
	color: rgba(1,2,0,.6); /**Edit color. Not working**/
}
	#menu li a, #menu li span
	{
		text-transform: uppercase;
		text-decoration: none;
		color: rgba(0,0,0,.4);
		font-weight: 600;
		font-size: 1em;
	}
#menu a:hover{
	color: #228B22;
}
/* Redesign this to empasize each topic to tackle
`- Add some font style to it and put some background to easily notice.

*/
#topics h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
	background-color: blue;
	color: white;
}

/*Make this at the bottom of each topic color it yellow to be easily noticed. Make it clickable*/
.Note{
	background-color: yellow;
	border: 1px solid black;
}

.Note img{
	width:40px;
}
.emphasis {
    color: #1665CB;
	font-size: 50px;
	font-weight: bold;
}

/* This is for the side navigator*/
.sidenav {
  height: 100%;
  width: 185px;
  position: fixed;
  z-index: 1; /*Overlapping of elements*/
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #1665CB;
}
/*Body*/
#content {
  margin-left: 185px; /* Same as the width of the sidenav */
  font-size: 28px; 
  padding-top: 54px;
  overflow-x: hidden;
}
/*Wrapper Image*/
#background{
	padding-left: 180px;
	padding-bottom: 50px;
	padding-top: 80px;
}

/*FOR THE IMAGE OF THE DEVELOPERS*/
.picture{
	width: 100%
}
.picture1{
  position: relative;
  width: 50%;
  float:left;
  left: 17%;
  
}
.picture2 {
  position: relative;
  width: 50%;
  float: right;
  left: 8%;
}

.image {
  opacity: 1;
  display: block;
  width: 30%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle2{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 36%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.picture1:hover .image {
  opacity: 0.3;
}

.picture1:hover .middle1 {
  opacity: 1;
}

.picture2:hover .image {
  opacity: 0.3;
}

.picture2:hover .middle2 {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.text1 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*Design for the table(for examples)*/
table, th, td {
  border: 1px solid black;
  text-align: center;
}
 table{
	 width: 100%;
 }

/* Clickable Examples*/
.hide{
	display:none;
	}
	
.show{
	display: block;
	}








/*Footer Section*/
footer{
	text-align: center;
}









