body, html {
	height: 100%;
	line-height: 1.8;
}

body {
  	font-family: "Raleway"
}

.P-INDEX {
  color: black;
}

.H-PPWS {
	text-align: center;
}

.H {
  background-color: #feb236;
  padding: 45px;
}

.LOGO {
	text-align: center;
}

.REQUIRED {
	color: #FF0000;
	font-family: sans-serif;
}

.BUTTON {
  background-color: #feb236;
  color: #3e4444;
}

.FOOTER {
	bottom: 0;
	width: 100%;
	color: white;
	height: 3rem;
	font-size: 13px;
	padding-top: 30px;
	position: relative;
	text-align: center;
	padding-bottom: 100px;
	background-color: black;
}

.TEAM {
	color: #feb236;
	font-size: 15px;
	font-family: sans-serif;
}